@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "Tajwal";
    src: url("../public//fonts/Tajawal-Medium.ttf");
  }
@font-face {
    font-family: "DTNASKH1";
    src: url("../public//fonts/DTNASKH1.TTF");
  }

